<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HauteLook.Shared.IOC" version="1.0.0.9" targetFramework="net452" />
  <package id="HauteLook.Shared.IOC.Types" version="1.0.0.9" targetFramework="net452" />
  <package id="structuremap" version="4.1.0.361" targetFramework="net452" />
</packages>